* {
    -webkit-tap-highlight-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: white;
}

.title span {
    color: #00678a;
}

.status {
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size:20px
}

.reset {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 15px;
    margin-top:30px;
    background-color: #368daa;
    transition: 0.2s ease;
    color: white;
}

.reset:active {
    transform: scale(0.94);
}

.row {
    display: flex;
    width: 300px;
}

.boxes {
    display: grid;
    place-items: center;
    width: 100%;
    height: 98px;
    background-color: #027196;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}